NEWS_API_KEY=your_key # Get from https://newsapi.org
CRICKET_API_KEY=your_key # Get from https://cricketdata.org
BOT_TOKEN=your_telegram_bot_token # Get from @BotFather on Telegram
CHAT_ID="895750475" # Get from @userinfobot on Telegram
